.study {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
button {
  border: none;
  width: 15vh;
  height: 3vh;
  background-color: gray;
  color: white;
  border-radius: 5px;
  margin: 0;
}
.Selector {
  background-color: rgb(255, 210, 210);
  width: 100%;
}
.Alert1 {
  background-color: rgb(255, 215, 169);
  width: 100%;
}
.Alert2 {
  background-color: rgb(250, 255, 173);
  width: 100%;
}
.eventlistener {
  background-color: rgb(150, 255, 164);
  width: 100%;
}
.jquery {
  background-color: rgb(158, 232, 255);
  width: 100%;
}

.alert-box1 {
  background-color: rgb(133, 133, 179);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
.alert-box2 {
  background-color: rgb(133, 133, 179);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
.alert-box-blue {
  background-color: rgb(77, 77, 194);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
.alert-box-red {
  background-color: rgb(212, 84, 75);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
.alert-box-yellow {
  background-color: rgb(243, 241, 121);
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
.yellow-bg {
  color: aquamarine;
  width: 100%;
}
